<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://twitter.com/ComscenOfficial"><i class="icon ion-social-twitter"></i></a><a href="https://github.com/Comscen"><i class="icon ion-social-github"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/about">About</a></li>
            <li class="list-inline-item"><a href="/license">License</a></li>
            <li class="list-inline-item"><a href="/register/hotel">Create business account</a></li>
        </ul>
        <p class="copyright">Comscen © 2020</p>
    </footer>
</div>