.col-md-12.text-center {
}

.col-md-12.text-center {
}

.account-info {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 20px 0px rgb(159,161,163);
    margin-top: 16px;border-style: none;
    border-color: rgba(255,255,255,0);
}

.account-photo {
    width: 200px;
    height: 200px;
    padding: 0px;
    margin: 18px;
    border-style: solid;
    border-color: rgb(216,217,218);
}